#tshirt, #tshirt p { margin: 0; padding: 0; position: relative; font-weight: bold; }

#tshirt {
	width: 190px;
	height: 190px;
	background: transparent url(img/tshirt.png) no-repeat top left;
	text-align: center;
	position: relative;
}

#tshirt p.name {
	top: 40px;
}

#tshirt p.number {
	top: 35px;
}
