/*
#tshirt, #tshirt p { margin: 0; padding: 0; position: relative; font-weight: bold; }
*/
#tshirt, #tshirt p { margin: 0; padding: 0; font-weight: bold; }

#tshirt {
	width: 190px;
	height: 190px;
	background: transparent url(../img/tshirt.png) no-repeat top left;
	text-align: center;
	position: relative;
}

#tshirt p {
	border: 1px dotted #fafafa;
	display: inline;
	cursor: move;
	position: absolute;
}
#tshirt p:hover {
	border: 1px solid #fff;
}
