#tshirt, .tshirt_small #tshirt p, .tshirt_small p { margin: 0; padding: 0; font-weight: bold; }

#tshirt {
	width: 190px;
	height: 190px;
	background: transparent url(../img/tshirt.png) no-repeat top left;
	text-align: center;
	position: relative;
}

.tshirt_small {
	width: 95px;
	height: 95px;
	position: relative;
}

#tshirt p, .tshirt_small p {
	display: inline;
	position: absolute;
}
